POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=gaba_test_task
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
# Таймаут запроса к БД
POSTGRES_STATEMENT_TIMEOUT=45000
# Максимальное количество соединений к БД в пуле
POSTGRES_POOL_MAX=20
# Минимальное количество соединений к БД в пуле
POSTGRES_POOL_MIN=5

APP_PORT=3000
